{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img src="/static/img/generals-quarters.png" alt="room image" class="img-fluid img-thumbnail">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Generals's Quarters</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="/make-reservation-gq" class="btn btn-success">Check Availability</a>
    </div>
  </div>
</div>
{{end}}